Q: Write data types in python with few examples to support how you can use it in real world applications. Create jupyter notebook for your practice.

In [35]:
#Answer is in Lecture 5_6 MS Word Document.
#Example 1:
#We use Tuple form of data for storing highly secure Banking details
name = input("Enter Your name:")
age = input("Enter Your Age:")
phone_no = input("Enter Your Phone Number:")
address = input("Enter your Address:")
city = input("Enter your city:")
postal_code = int(input("Enter Postal Code:"))
money_with= str(input("Enter Total Withdrawn amount:"))
money_dep = str(input("Enter Total doposited amount:"))
Account1Tuple = (name,age,phone_no,address,city,postal_code)
print("Example 1")
print("Account Details:\n",Account1Tuple)
print("Total Amount Withdrawn",money_with)
print("Total Amount Deposted",money_dep)
print("Current Account Balance:",str(int(money_dep)-int(money_with))+" Rs")

#Example 2:
#For Decimal calculations with high precision we use float data type
print ("\n\n\n Example 2")
a = float(input("Enter number 1 with demicals:"))
b = float(input("Enter number 2 with decimals:"))
c= a+b
print ("By adding these two values we get:",c)

Enter Your name:Syed Fasih Uddin
Enter Your Age:18
Enter Your Phone Number:03360305272
Enter your Address:North Karachi
Enter your city:Karachi
Enter Postal Code:74600
Enter Total Withdrawn amount:7500
Enter Total doposited amount:10000
Example 1
Account Details:
 ('Syed Fasih Uddin', '18', '03360305272', 'North Karachi', 'Karachi', 74600)
Total Amount Withdrawn 7500
Total Amount Deposted 10000
Current Account Balance: 2500 Rs



 Example 2
Enter number 1 with demicals:2.34671
Enter number 2 with decimals:5.1244
By adding these two values we get: 7.4711099999999995

Q2: Do practice problem 2.1 to 2.10, you can telly your answers at the end of the chapter.

2.1: Write Python algebraic expressions corresponding to the following statements:

In [40]:
# (a) The sum of the first five positive integers
sum = (5+2+3+1+4)
print("Sum of 5 integers '5,2,3,1,4 is':",sum)

# (b) The average age of Sara (age 23), Mark (age 19), and Fatima (age 31)
sara= 23
mark = 19
fatima=31
avg= (sara+mark+fatima)/3
print("Average age of Sara, Mark and Fatima is:",avg)

# (c) The number of times 73 goes into 403
# (d) The remainder when 403 is divided by 73
a =403
devisor = 73
ans = a // devisor
remainder = a%devisor
print(devisor,"goes into",a,ans,"times with remainder",remainder)

# (e) 2 to the 10th power
print(2**10)
# (f) The absolute value of the difference between Sara’s height (54 inches) and Mark’s height (57 inches)
sara_height= float(54)
mark_height=float(57)
print("The absolute value of the difference between Sara’s height is:",mark_height - sara_height,"inches")

# (g) The lowest price among the following prices: $34.99, $29.95, and $31.50
price1=34.99
price2=29.95
price3=31.50
print(min(price1,price2,price3))

Sum of 5 integers '5,2,3,1,4 is': 15
Average age of Sara, Mark and Fatima is: 24.333333333333332
73 goes into 403 5 times with remainder 38
1024
The absolute value of the difference between Sara’s height is: 3.0 inches
29.95

2.2 : Translate the following statements into Python Boolean expressions and evaluate them:

In [41]:
# (a) The sum of 2 and 2 is less than 4
print((2+2) < 4)
# (b) The value of 7 // 3 is equal to 1 + 1
print(7 // 3 == 1 + 1)
# (c) The sum of 3 squared and 4 squared is equal to 25.
print(3**2 + 4**2 == 25)
# (d) The sum of 2, 4, and 6 is greater than 12.
print(2+4+6 > 12)
# (e) 1387 is divisible by 19.
print(1387 % 19 == 0)
# (f) 31 is even. (Hint: what does the remainder when you divide by 2 tell you?)
print(31 % 2 == 0)
# (g) The lowest price among $34.99, $29.95, and $31.50 is less than $30.00.
print(min(34.99,29.95,31.50,) < 30.00)

False
True
True
False
True
False
True

2.3 Write Python statements that correspond to the actions below and execute them:

In [45]:
# (a) Assign integer value 3 to variable a.
a = int(3)
# (b) Assign 4 to variable b
b = 4
# (c) Assign to variable c the value of expression a * a + b * b.
c = a * a + b * b
print(c)

25

In [51]:
#2.4
#Start by executing the assignment statements:
s1 = 'ant'
s2 = 'bat'
s3 = 'cod'
#Write Python expressions using s1, s2, and s3 and operators + and * that evaluate to:
#(a) 'ant bat cod'
print(s1+s2+s3)
#(b) 'ant ant ant ant ant ant ant ant ant ant '
print(s1*10)
#(c) 'ant bat bat cod cod cod'
print(s1+s2*2+s3*3)
#(d) 'ant bat ant bat ant bat ant bat ant bat ant bat ant bat '
print((s1+s2)*7)
#(e) 'batbatcod batbatcod batbatcod batbatcod batbatcod '
print(((s2*2)+(s3))*5)

antbatcod
antantantantantantantantantant
antbatbatcodcodcod
antbatantbatantbatantbatantbatantbatantbat
batbatcodbatbatcodbatbatcodbatbatcodbatbatcod

In [57]:
#2.5
#Start by executing the assignment:
s = '0123456789'
#Now write expressions using string s and the indexing operator that evaluate to:
#(a) '0'
print(s[0])
#(b) '1'
print(s[1])
#(c) '6'
print(s[6])
#(d) '8'
print(s[8])
#(e) '9'
print(s[9])

0
1
6
8
9

In [59]:
#2.6
#First execute the assignment
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
#Now write two Python expressions that evaluate to the first and last, respectively, word in words, in dictionary order
dict ={words[0]:words[-1]}
print(dict)

{'bat': 'badminton'}

In [76]:
#2.7
#Given the list of student homework grades
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]
#write:
#(a) An expression that evaluates to the number of 7 grades
print(grades.count(7))
#(b) A statement that changes the last grade to 4
grades[-1]=4
print(grades)
#(c) An expression that evaluates to the maximum grade
print(max(grades))
#(d) A statement that sorts the list grades
grades.sort()
print(grades)
#(e) An expression that evaluates to the average grade
print(grades[0]+grades[1]+grades[2]+grades[3]+grades[4]+grades[5]+grades[6]+grades[7]+grades[8]/len(grades))

2
[9, 7, 7, 10, 3, 9, 6, 6, 4]
10
[3, 4, 6, 6, 7, 7, 9, 9, 10]
52.111111111111114
9

2.10 Write Python expressions corresponding to the following:

In [26]:
#(a) The length of the hypotenuse in a right triangle whose other two sides have lengths a and b
a = eval(input("Enter length of Perpendicular (in cm):"))
b = eval(input("Enter length of Base (in cm):"))
c= pow(a,2) + pow(b,2)

#(b) The value of the expression that evaluates whether the length of the above hypotenuse is 5
print ("Length of hypotenuse in right triangle is",c,"cm")
if c == 5:
    print("Value of Hyp is = 5 cm")

#(c) The area of a disk of radius a

Enter length of Perpendicular (in cm):2
Enter length of Base (in cm):3
Length of hypotenuse in right triangle is 13 cm

In [28]:
#(c) The area of a disk of radius a
from math import pi
a= eval(input("Enter radius (in meters):"))
area= (pi)*(a**2)
print("Area of disk is:",area,"m^2")

Enter radius (in meters):2
Area of disk is: 12.566370614359172 m^2

In [43]:
#(d) The value of the Boolean expression that checks whether a point with coordinates x and y is inside a circle with center (a, b) and radius r
radius= float(input("Enter Radius (cm):"))
x= float(input("Enter x-axis of point:"))
y = float(input("Enter y-axis of point:"))
#From Center to this point distance must be less than radius
from math import sqrt
distance = sqrt(pow((x-0),2)+pow(y-0,2))
if distance > radius:
    print("Point(",x,",",y,")doesn't lie inside the circle")
elif distance < radius:
    print("Point(",x,",",y,")lies inside the circle")
else:
    print("Error: No Condition was passed")

Enter Radius (cm):5
Enter x-axis of point:2
Enter y-axis of point:3
Point( 2.0 , 3.0 )lies inside the circle

In [ ]:
#module fraction()